.container
  header.header
    .row.row_flex
      .header__column
        .header__logo.logo
          a.logo__link(href="#")
            img.logo__img(src="img/logo.jpg", alt="Logo")
          span.logo__text Geotrack
          span.logo__text var 1.0

      .header__column.header__column_nav
        nav
          ul.nav__list
            each val in nav
              li.nav__item
                a.nav__link(href=val.href)=val.name
      .header__column.header__column_search
        form.header__search
          span.header__search-btn
           i
            +icon("search", "gray_mod")
          input.header__search-field(type="text" placeholder='Search geotrack' name="search")
        .header__item.dropdown
          a.header__link(href="", role="button").nav-link.dropdown-toggle
            img.header__img(src="img/user.jpg", alt="Logo")
