.footer {
  background-color: #fff;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 15px 0;

  &__column {
    @include span(3);

    &:last-child {
      @include span(6);
      justify-content: flex-end;
    }
  }
}

.socials {
  &__list {
    display: flex;
    justify-content: flex-end;
  }

  &__item {

    &:not(:last-child) {
    margin-right: 30px;
  }
  }
}