.container
  section.panel
    .container-inner.container-inner_sm
      .row
        .panel__column
          .place.card
            .place__head.card-inner
              .place__head-line
                .place__head-line_left
                  .place__logo
                    img(src='img/logo_uni.jpg', alt="")
                  .place__code
                    img(src='img/qr.jpg', alt="")
                a.place__link(href='#')

              h2.place__name California University
              span.place__coord ID: 111111111
              button.btn.btn_sm.btn_secondary.btn-fully_secondary Copy in buffer

            .place__info.card-inner
                each val in place
                  .place__row
                    .place__col
                      strong.place__item=val.name
                    .place__col
                      span.place__descr=val.description
                .place__row
                  .place__col
                      strong.place__item Email:
                  .place__col.place__col_mail
                      span.place__descr.place__descr_mail ca@university@gmail.com
                each val in placeNext
                  .place__row
                    .place__col
                      strong.place__item=val.name
                    .place__col
                      span.place__descr=val.description
            .place__btn.card-inner
              button.btn.btn_bg.btn_main.btn-fully_main(type='button') Edit Profile
        .panel__column
          .card.card_inner.message
            span.message__logo
              img.header__img(src="img/message.jpg", alt="Logo")
            .message__body
              h2.message__name Geo Message
              p.message__text The results of yesterdays election came a surprise
          .card.map
            .map__container#map
              script.
                  function initMap() {
                      // Styles a map in night mode.
                      var map = new google.maps.Map(document.getElementById('map'), {
                          center: {lat: 40.674, lng: -73.945},
                          zoom: 12,
                          styles: [
                              {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                              {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                              {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                              {
                                  featureType: 'administrative.locality',
                                  elementType: 'labels.text.fill',
                                  stylers: [{color: '#d59563'}]
                              },
                              {
                                  featureType: 'poi',
                                  elementType: 'labels.text.fill',
                                  stylers: [{color: '#d59563'}]
                              },
                              {
                                  featureType: 'poi.park',
                                  elementType: 'geometry',
                                  stylers: [{color: '#263c3f'}]
                              },
                              {
                                  featureType: 'poi.park',
                                  elementType: 'labels.text.fill',
                                  stylers: [{color: '#6b9a76'}]
                              },
                              {
                                  featureType: 'road',
                                  elementType: 'geometry',
                                  stylers: [{color: '#38414e'}]
                              },
                              {
                                  featureType: 'road',
                                  elementType: 'geometry.stroke',
                                  stylers: [{color: '#212a37'}]
                              },
                              {
                                  featureType: 'road',
                                  elementType: 'labels.text.fill',
                                  stylers: [{color: '#9ca5b3'}]
                              },
                              {
                                  featureType: 'road.highway',
                                  elementType: 'geometry',
                                  stylers: [{color: '#746855'}]
                              },
                              {
                                  featureType: 'road.highway',
                                  elementType: 'geometry.stroke',
                                  stylers: [{color: '#1f2835'}]
                              },
                              {
                                  featureType: 'road.highway',
                                  elementType: 'labels.text.fill',
                                  stylers: [{color: '#f3d19c'}]
                              },
                              {
                                  featureType: 'transit',
                                  elementType: 'geometry',
                                  stylers: [{color: '#2f3948'}]
                              },
                              {
                                  featureType: 'transit.station',
                                  elementType: 'labels.text.fill',
                                  stylers: [{color: '#d59563'}]
                              },
                              {
                                  featureType: 'water',
                                  elementType: 'geometry',
                                  stylers: [{color: '#17263c'}]
                              },
                              {
                                  featureType: 'water',
                                  elementType: 'labels.text.fill',
                                  stylers: [{color: '#515c6d'}]
                              },
                              {
                                  featureType: 'water',
                                  elementType: 'labels.text.stroke',
                                  stylers: [{color: '#17263c'}]
                              }
                          ]
                      });
                  }
              script(src='https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap' async='' defer='')




